body {
    font-size: 16px;background-color: blueviolet;
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 14px;background-color: aqua;
    }
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 12px;background-color: brown;
    }
  }