body {
    font-size: 16px;background-color: green;
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 14px;background-color: orange;
    }
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 12px;background-color: red;
    }
  }

  .Gauche {
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style-type: none;

    .Informations {
      flex-direction: column;
  
      .InformationsGras {
        font-weight: bold;
        margin-top: 30px;
      }
    }
  }