body {
    font-size: 16px;background-color: green;
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 14px;background-color: orange;
    }
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 12px;background-color: red;
    }
  }

  .Gauche {
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style-type: none;

    #Photo {
      display: block;
      width: 150px;
      height: auto;
    }
    
    .Informations {
      display: flex;
      flex-direction: column;

      .InformationsGras {
        font-weight: bold;
        margin-top: 30px;
        background-color: yellow;
      }

      .InformationsDesc {
        background-color: aquamarine;
        align-items: flex-end;
      }
  
      .Adresse {
        display: flex;
        flex-direction: column;

        #LocationIcon {
          display: block;
          width: 25px;
          height: auto;
        }
      }

      .Email {
        display: flex;
        flex-direction: column;

        #EmailIcon {
          display: block;
          width: 25px;
          height: auto;
        }
        
      }

      .Telephone {
        display: flex;
        flex-direction: column;

        #TelephoneIcon {
          display: block;
          width: 25px;
          height: auto;
        }
        
      }

      .Naissance {
        display: flex;
        flex-direction: column;

        #CalendarIcon {
          display: block;
          width: 25px;
          height: auto;
        }
        
      }

      .Permis {
        display: flex;
        flex-direction: column;

        #CarIcon {
          display: block;
          width: 25px;
          height: auto;
        }
        
      }

      .Reconnaissance {
        display: flex;
        flex-direction: column;

        #ManIcon {
          display: block;
          width: 25px;
          height: auto;
        }  
      }
    }
  }